@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
*{
	margin:0;
	padding:0;
}
.container{
	width:1140px;
	margin:0 auto;
}
.clearfix{
	overflow:hidden;
}
html{
	font-family: 'Titillium Web', sans-serif;
	font-size:16px;
}
/*Start Header*/
header{
	background:#87509c;
	padding-top:57px;
}
.logo,.nav{
	float:left;
}
.logo{
	padding: 0 458px 0 62px;
}
.navbar{
	list-style:none;
	padding:3px 0 0 25px;
}
.nav-item{
	display:inline-block;

}
.nav-link{
	text-decoration:none;
	color: #fff;
	text-transform:uppercase;
	font-size:1rem;
	line-height:1.125rem;
	border-radius:5px;
}
.nav-link:first-child{
	padding-top: 8px;
	padding-left:16px;
	padding-right:17px;
	padding-bottom:6px;
}
.nav-link:nth-child(2){
	padding-top: 8px;
	padding-left:16px;
	padding-right:17px;
	padding-bottom:6px;
}
.nav-link:hover{
	background:#663366;
}
/*start next*/
.next{
	text-align:center;
	color:#f7f3ea;
	padding-top:145px;
	font-size:2.625rem;
	line-height:3rem;
}
/*end next*/
/*start nextnext*/
.nextnext{
	margin:62px 423px 145px 424px;
	display:inline-block;
	background:#eb7d4b;
	border-radius:5px;
}

.next-link{
	text-decoration:none;
	color:#f7f3ea;
	padding:28px 82px;
	display:inline-block;
	font-size:1.125rem;
	line-height:1.625rem;
}
.next-link:hover{
	background:orange;
	border-radius:5px;
}
/*end nextnext*/
/*End Header*/
/*start tow*/
.tow{
	padding-top:119px;
	background:#17c2a4;
}
.one-tow{
	font-size:2.5rem;
	color:#f7f3ea;
	text-align:center;
	line-height:1.875rem;
}
.tow-tow{
	background:#c8d9e5;
	height:4px;
	width:87px;
	margin:21px 526px 24px 527px;
}
.three-tow{
	text-align:center;
	font-size:1.125rem;
	color:#f7f3ea;
	line-height:1.625rem;
}
.four-tow{
	text-align:center;
	float:left;
	padding-left:54px;
}
.four-tow-a{
	float:left;
	padding-top:84px;
}
.five-tow-ab{
	color:#f7f3ea;
	font-size:1.5rem;
	padding-top:62px;
	line-height:1.125rem;
}
.five-tow-ac{
	color:#f7f3ea;
	font-size:1rem;
	margin-bottom:129px;
	padding-top:28px;
	line-height:1.5rem;
}
.four-tow-b{
	float:left;
	padding-left:98px;
	padding-top:80px;
}
.five-tow-bb{
	color:#f7f3ea;
	font-size:1.5rem;
	padding-top:60px;
	line-height:1.125rem;
}
.four-tow-c{
	float:left;
	padding-top:84px;
	padding-left:95px;
}
.four-tow-d{
	float:left;
	padding-top:80px;
	padding-left:88px;
}
.five-tow-dd{
	color:#f7f3ea;
	font-size:1.5rem;
	padding-top:57px;
	line-height:1.125rem;
}
/*end tow*/
/*Start three*/
.three{
	padding-top:120px;
	background:#e7f1f8;
}
.one-three{
	font-size:2.6rem;
	text-align:center;
	color:#3c4761;
	line-height:1.9rem;
}
.three-three{
	font-size:1.2rem;
	text-align:center;
	color:#3c4761;
	line-height:1.7rem;
}
.four-three{
	padding-top:78px;
	float:left;
}
.four-three-a{
	float:left;
	padding-left:50px;
	text-align:center;
}
.four-three-aa{
	height:200px;
	width:200px;
	background:#878787;
	border-radius:200px;
}
.i{
	padding-top:41px;
	color:#27283d;
	font-size:1.5rem;
	line-height:1.125rem;
}
.ii{
	padding-top:15px;
	color:#30bae7;
	font-size:1rem;
	line-height:1.125rem;
}
.iii{
	padding-top:25px;
	color:#3c4761;
	font-size:1rem;
	line-height:1.5rem;
}
.five-three-b{
	padding-top:33px;
	text-align:center;
	padding-bottom:127px;	
}
.y{
	float:left;
	padding-left:19px;
}
.yy{
	padding-left:12px;
	float:left;
}
.yyy{
	padding-left:11px;
	float:left;
}
.yyyy{
	padding-left:12px;
	float:left;
}
/**four three b**/
.four-three-b{
	float:left;
	padding-left:80px;
	text-align:center;
}
.yy-b{
	padding-left:41px;
	float:left;
}
/*end three*/
/*start four*/
.four{
	padding-top:117px;
	background:#fff;
}
.one-four{
	font-size:2.5rem;
	text-align:center;
	color:#3c4761;
	line-height:1.9rem;
}
.three-four{
	font-size:1.25rem;
	text-align:center;
	color:#3c4761;
	line-height:1.625rem;
}
.four-four{
	float:left;
	padding-left:70px;
	text-align:center;
	padding-top:85px;
	padding-bottom:123px;
}
.four-four-a{
	float:left;
}
.four-four-aa{
	padding-top:32px;
	color:#3c4761;
	font-size:1.5rem;
	line-height:1.125rem;
}
.four-four-b{
	float:left;
	padding-left:120px;
}
.four-four-c{
	float:left;
	padding-left:120px;
}
.four-four-d{
	float:left;
	padding-left:120px;
}
/**end four**/
/** start-five**/
.five{
	padding-top:121px;
	background:#ffdd99;
}
.one-five{
	font-size:2.5rem;
	color:#393939;
	text-align:center;
	line-height:1.9rem;
}
.three-five{
	text-align:center;
	font-size:1.125rem;
	color:#393939;
	line-height:1.625rem;
}
.like{
	list-style:none;
	padding-top:55px;
	text-align:center;
	padding-bottom:74px;
}
.one-like{
	display:inline-block;
}
.like-link{
	text-decoration:none;
	color: #393939;
	text-transform:uppercase;
	font-size:1rem;
	line-height:1.125rem;
	border-radius:5px;
	padding: 12px 27px 12px 27px;
    background:#ebc985;
	margin-left:10px;
}
.like-link-a{
	text-decoration:none;
	color: #393939;
	text-transform:uppercase;
	font-size:1rem;
	line-height:1.125rem;
	border-radius:5px;
	padding: 12px 27px 12px 27px;
    background:#ebc985;
}
.like-link-a:hover{
	background:#fff;
}
.like-link:hover{
	background:#fff;
}
/**five-five**/
.five-five{
	text-align:center;
	float:left;
}
.five-five-a{
	padding-left:19px;
	float:left;
}
.abc{
	padding-top:32px;
	padding-bottom:65px;
	font-size:1.125rem;
	color:#393939;
	line-height:1.125rem;
}
.abcd{
	padding-top:32px;
	font-size:1.125rem;
	color:#393939;
	line-height:1.125rem;
}
.five-five-b{
	padding-left:19px;
	float:left;
}
.six-five{
	margin:84px 423px 113px 424px;
	display:inline-block;
	background:#17c2a4;
	border-radius:5px;
}

.five-link{
	text-decoration:none;
	color:#ffffff;
	padding:28px 57px 25px 58px;
	display:inline-block;
	font-size:1.125rem;
	line-height:1.6   25rem;
}
.five-link:hover{
	background:green;
	border-radius:5px;
}
/**end five**/
/** start-six**/
.six{
	background:#d74680;
}
.one-six{
	text-align:center;
	padding-top:119px;
	color:#fff;
	font-size:2.5rem;
	line-height:1.9rem;
}
.three-six{
	text-align:center;
	color:#fff;
	font-size:1.125rem;
	line-height:1.625rem;
}
.four-six{
	padding-top:71px;
	float:left;
	padding-left:21px;
}
.four-six-a{
	float:left;
}
.four-six-aa{
	width:100px;
	height:100px;
	border-radius:100px;
	background:#787878;
	float:left;
}
.aaa{
	float:left;
	padding-top:12px;
	padding-left:48px;
}
.aaab{
	font-size:1.3rem;
	color:#fff;
	line-height:1.9rem;
}
.aaac{
	padding-top:31px;
	font-size:1.5rem;
	color:#fff;
	line-height:1.625rem;
}
.aaad{
	padding-top:11px;
	font-size:1.125rem;
	color:#ffdd99;
	line-height:1.625rem;
}
.five-six{
	float:left;
	padding-top:148px;
	padding-bottom:132px;
	padding-left:21px;
}
.four-six-b{
	float:left;
	padding-left:108px;
}
.four-six-bb{
	float:left;
	padding-left:88px;
}
/**end six**/
/**start seven**/
.seven{
	background:#3c5499;
	padding-top:121px;
}
.one-seven{
	font-size:2.5rem;
	color:#fff;
	line-height:1.875rem;
	text-align:center;
}
.three-seven{
	font-size:1.125rem;
	color:#fff;
	line-height:1.625rem;
	text-align:center;
}
.four-seven-a .x{
	width:50%;
	float:left;
	margin-top:76px;
}
.xx{
	margin-left:10px;
	padding-left:20px;
	color:#fff;
	font-size:20px;
}
.xxx{
	width:80%;
	background:#273a71;
	padding:15px 25px;
	border-radius:5px;
}
#textarea{
	padding:15px 25px;
	margin:27px 25px 59px;
	color:#fff;
	background:#273a71;
	width:91%;
	height:120px;
	max-width:100%;
	border-radius:5px;
}
.five-seven-link{
	text-decoration:none;
	color:#ffffff;
	padding:28px 83px 25px 85px;
	display:inline-block;
	font-size:1.125rem;
	line-height:1.625rem;
}
.five-seven{
	margin-bottom:115px;
	margin-left:424px;
	margin-right:423px;
	display:inline-block;
	background:#30bae7;
	border-radius:5px;
}
.five-seven-link:hover{
	background:blue;
	border-radius:5px;
}
/*end six*/
/*start footer*/
.footer{
	background:#344b8e;
}
.dis-like{
	list-style:none;
	padding-top:48px;
	text-align:center;
	padding-bottom:42px;
}
.one-dis-like{
	display:inline-block;
}
.dis-like-link{
	text-decoration:none;
	color: #fff;
	font-size:1.5rem;
	line-height:1.875rem;
	padding-left:58px;
}
.dis-like-link-a{
	text-decoration:none;
	color: #fff;
	font-size:1.5rem;
	line-height:1.875rem;
}
.dis-like-link:hover{
	color:#30bae7;
}
.dis-like-link-a:hover{
	color:#30bae7;
}
/*end footer*/